.clickBtn {
    background: #109384;
    border-radius: 10px;
    color: #000;
    cursor: pointer;
    display: block;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    margin: 0 auto;
    padding: 10px 20px;
}

ul {
    color: #000;
    display: inline-block;
    font-size: 15px;
    margin: 5px;
    text-align: center;
}

.biggerFont {
    color: #000;
    font-size: 25px;
    color: green;
}